# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
.obsidian/

# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Ansible
*.retry

# Logs
*.log

# Secrets / env
.env
.env.*
*.key
*.pem

# Python (if used later)
__pycache__/
*.pyc

# Misc
*.bak
*.tmp
